body {
    background: url('../black.jpg');
    background-size: cover;
}

#newGame {
    display: none;
}

.guessLabel {
    display: none;
    color: white;
}

p {
    color: white;
}

.gameBox hr {
    border-top: 1px solid rgb(32, 181, 181);
}

.btnTextValue span {
    display: inline-flex;
    /* padding: 0 26px 0px 0px; */
    width: 68px;
    height: 70px;
    text-align: center;
    color: white;
    color: #009688;
    background: rgba(107, 105, 105, 0.53);
    align-items: center;
    justify-content: center;
}

.guessLabel span {
    padding: 0;
    width: 30px;
    background: none;
    height: 20px;
}

h3.btnTextValue {
    margin: 20px 0;
}

h3.repeatingGuesses span {
    letter-spacing: 35px;
    padding-left: 13px;
    background: none;
    height: 39px;
    color: white;
}

button[class*="btn"] {
    width: 70px;
    height: 70px;
    font-size: 36px;
    color: #009688;
    border: 1px solid;
}

button[class*="btn"]:hover {
    background: rgb(236, 236, 236);
}

button[class*="btn"]:disabled {
    cursor: no-drop;
    background: #c5c0c0;
    color: rgba(128, 128, 128, 0.52);
}

.guessedNum {
    color: #009688 !important;
    font-weight: bolder;
    border: 1px solid #009688;
    background: #dddddd!important;
}


/*.gameBox {
    width: 700px;
    background: rgba(66, 65, 65, 0.52);
    padding: 20px;
    border: 1px solid #515d5d;
    margin: 100px auto;
    text-align: center;

    position: relative;
    top: -50px;
}*/

h2 {
    color: #009688;
    text-transform: uppercase;
}

input#newGame {
    margin: 0px auto;
    background: #009688;
    border: 1px solid #63c7be;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 25px;
    width: 31%;
    height: 46px;
}

input#newGame:hover {
    background: rgba(0, 150, 136, 0.67);
}


/*Modal popup*/

#modalBox {
    background: rgba(231, 232, 234, 0.63);
}

.modal-dialog {
    background: rgba(0, 140, 127, 0.7);
}

.modal-content {
    box-shadow: 1px 1px 5px #716f6f;
    border: none;
    background: none;
}

.modal-header {
    color: black;
    background: #6b6b6b;
    border-bottom: 1px solid #524c4c;
}

.modal-header span {
    font-size: 43px;
    color: #00b3a7;
}

.modal-body h4 {
    color: white;
}

.modal-title {
    color: #009688;
}

.modal-body p {
    color: black;
    font-size: 24px;
}

.modal-body p span {
    color: white;
    font-weight: bold;
}

.rightNum {
    background: #dddddd !important;
    border: 1px solid #009688;
    color: #009688!important;
}

h3.guessLabel {
    /*text-decoration: overline;*/
    font-weight: lighter;
}

h5 {
    color: #d2d2d2;
    font-size: 30px;
    font-family: monospace;
    text-transform: uppercase;
    font-weight: 100;
}


/*bootstrap*/

.btn-primary {
    width: 31%;
    height: 46px;
    color: #fff;
    background-color: #003bc1;
    border-color: #2b4b94;
    text-transform: uppercase;
    margin-top: 20px;
    box-shadow: 1px 2px 7px 3px #353535;
}

.btn-primary:hover {
    background-color: rgba(0, 51, 165, 0.83);
}

.btn-primary:disabled {
    background-color: rgb(9, 68, 200);
    border-color: rgb(43, 63, 177);
    margin: 0 auto;
    margin-top: 20px;
    color: #a59b9b;
}

h1#stopwatch {
    color: white;
    background: rgba(31, 31, 31, 0.72);
    display: inline-block;
    width: 369px;
    margin: 17px auto;
}

.numInputs {
    width: 430px;
    margin: 0 auto;
    width: 370px;
    margin: 0 auto;
    margin-bottom: 59px;
}

.start {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: 165px;
    height: 350px;
    width: 367px;
    background: rgba(236, 236, 236, 0.76);
    border: 3px solid white;
}

input[type="button"] {
    align-self: center;
    height: 140px;
    width: 141px;
    border-radius: 50%;
    border: 2px solid #cbc9c9;
    color: white;
    box-shadow: 1px 1px 12px 3px #929292;
    background: #009688;
    text-transform: uppercase;
    white-space: pre-line;
}

h4.endGame {
    margin-bottom: 20px;
    color: #009688;
    text-transform: uppercase;
}

span {
    color: #009688;
    font-size: 44px;
}

h4.endGame s {
    margin-bottom: 56px;
    color: black;
    text-transform: uppercase;
}

small {
    color: #050505;
    text-transform: uppercase;
    display: block;
    font-size: 21px;
    /* margin: 5px; */
}

.gameBox {
    width: 700px;
    /* background: rgba(188, 181, 181, 0.38); */
    padding: 20px;
    /* border: 1px solid #d6d6d6; */
    margin: 46px auto;
    text-align: center;
    /* box-shadow: 0px 1px 7px grey; */
    position: relative;
    top: -50px;
}

.gameBox p {
    color: black;
    font-size: 19px;
    background: #eeedeb;
}

.start {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: 165px;
    height: 350px;
    width: 369px;
    background: rgba(236, 236, 236, 0.76);
    border: 3px solid #009688;
}